{:format :kotoba.kir/v4,
 :signature {:params [], :result :i64},
 :functions
 [{:name rawtext-terminator,
   :params [tag],
   :result :string,
   :effects #{},
   :body (string-concat "</" tag),
   :param-types [:string]}
  {:name rawtext-breakout?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [tag
     (record-get
      [:record
       :hic/rawtext-breakout
       [[:tag :string] [:content :string]]]
      x
      :tag)
     content
     (record-get
      [:record
       :hic/rawtext-breakout
       [[:tag :string] [:content :string]]]
      x
      :content)]
    (=
     1
     (string-contains?
      (string-fold-case content)
      (string-fold-case (rawtext-terminator tag))))),
   :param-types [[:ref :hic/rawtext-breakout]]}
  {:name main,
   :params [],
   :result :i64,
   :effects #{},
   :body (string-byte-length (rawtext-terminator "style")),
   :param-types []}],
 :oracle-value 7,
 :schema-identities
 #:hic{:rawtext-breakout
       "bbe10fc2fdd4ba29d835770de767ced4e2b924014ec234124d05865781d01d8b"},
 :exports [main rawtext-terminator rawtext-breakout?],
 :schemas
 #:hic{:rawtext-breakout
       [:record
        :hic/rawtext-breakout
        [[:tag :string] [:content :string]]]},
 :effects #{},
 :blocks [{:id 0, :instructions [[:const.i64 7] [:return]]}],
 :entry main}
